.filter-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    -ms-border-radius: 5;
    -o-border-radius: 5;
    padding: 0 20px;
}
.filter-list {
    display: flex;
    width: 100%;
    gap: 20px;
}
.filter-list label {
    margin-right: 5px;
}
.filter-list select {
   border-radius: 3px;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   -ms-border-radius: 3px;
   -o-border-radius: 3px;
   padding: 2px 5px;
}
.filter-btn {
    width: 150px;
}
.filter-btn button {
    background-color: #ffffff;
    color: rgb(17, 17, 17);
}